<mdb-card cascade="true" narrower="true" class="narrower card card-cascade">
  <div class="card card-cascade">
    <div class="view view-cascade overlay hm-white-slight waves-light">
      <img class="img-fluid" [src]="user.profileImageUrlHttps">
      <a href="https://twitter.com/{{user.screenName}}">
        <div class="mask"></div>
      </a>
    </div>
    <div cascade="true" class="text-center card-body-cascade card-body" [style.background-color]="getBgColor()">
      <h4 class="card-title font-bold mb-2"><strong>{{user.name}} ({{user.screenName}})</strong></h4>
      <h5 class="indigo-text"><strong>{{user.description}}</strong></h5>
      <h6 class="text-justify"><strong>About:</strong></h6>
      <p class="text-justify">{{user.name}} has joined Twitter on {{user.createdAt | date}} and is following {{user.friendsCount}} Users while {{user.followersCount}} are following {{user.name}}. Currently lives in {{user.location}}.</p>
    </div>
  </div>
</mdb-card>
